.formWrapper {
  z-index: 100;
  padding-top: 20px;

  .inputsWrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    margin: 0 auto;
    justify-content: center;

    @media screen and (min-width: 1024px) {
      max-width: inherit;
    }
  }

  .validationBloc {
    min-height: 200px;
    padding-top: 30px;

    button {
      display: block;
      font-size: 30px;
      text-align: center;
      margin: 0 auto;
      border-radius: 5px;
      border: 0;
      padding: 10px;
      box-shadow: 0 2px 20px 9px rgba(black, 0.8);
      cursor: pointer;
      color: rgba(black, 1);
      transition: color 0.3s ease;
  
      &:hover {
        color: rgba(black, 0.5);
      }
    }

    .victoryMessage {
      position: relative;
      display: flex;
      background: black;
      color: white;
      text-align: center;
      justify-content: center;
      align-content: center;
      padding: 20px;
      border-radius: 5px;
      font-size: 20px;
      max-width: 80%;
      margin: 0 auto;
      box-shadow: 0px 9px 20px 10px rgba(109,217,231, .5);

      &::after{
        position: absolute;
        content: '🎁';
        display: block;
        width: 20px;
        height: 20px;
        bottom: -70px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 110px;
        width: 100px;
        height: 100px;
      }
    }
  }
}
