.formWrapper {
  z-index: 100;

  .inputsWrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    margin: 0 auto;
    justify-content: center;

    @media screen and (min-width : 1024px){
      max-width: inherit;
    }
  }

  button {
    display: block;
    font-size: 30px;
    text-align: center;
    margin: 30px auto;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    box-shadow: 0 2px 20px 9px rgba(black, 0.8);
    cursor: pointer;
    color: rgba(black, 1);
    transition: color 0.3s ease;

    &:hover {
      color: rgba(black, 0.5);
    }
  }
}
